---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Andrew Jordaan" description="About Andrew Jordaan's background, education and more">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
        align='center'
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="480"
					height="620"
					src="/assets/profile-pic.jpeg"
					alt="Andrew Jordaan smiling in a white, collared shirt"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
            Intermediate software developer currently focused on full-stack web development. Proficient in a number of programming languages and technologies. Enjoys building well-tested, accessible and beautiful websites and apps. Committed to continuous learning of new skills and trends in the pursuit of creating exceptional software that has a positive impact on its users.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p> <strong>Bachelor of Science Information Technology</strong></p>
					<p>University of Pretoria</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
					 <li>Javascript</li>
					 <li>Ruby</li>
					 <li>CSS</li>
					 <li>SASS</li>
					 <li>Rails</li>
					 <li>React</li>
					 <li>Firebase</li>
					</ul>
				</div>
			</section>
		</main>

	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
